/* NAV */

.nav-bar {
    position: fixed;
    margin-top: 20px;
    /* debug */
    background-color: orange;
    width: 1000px; 
}

.gender {
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    top: 0;
    left: 450px;
    width: 100px;
}

.cart {
    position: absolute;
    top: 0;
    left: 550px;
    width: 450px;
    text-align: right;
}

/* MAIN */

.row {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    width: 100%;
}

.column {
    position: relative;
    width: 320px;
    height: fit-content;
    margin: 25px 0 0 0;  
}

.heart {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
}

.sconto {
    width: 35px;
    height: 20px;
    position: absolute;
    bottom: 100px;
    left: 0;
    background-color: red;
    font-size: 13px;
    color: white;
    text-align: center;
    line-height: 20px;
}

.eco {
    width: 80px;
    height: 20px;
    position: absolute;
    bottom: 100px;
    left: 37px;
    background-color: green;
    font-size: 13px;
    color: white;
    text-align: center;
    line-height:20px;
}

.friendly {
    left: 0px;
}

.foot {
    display: flex;
    justify-content: space-between;
    padding: 30px;
      
}
