/* Utils */

.container {
	max-width: 1000px;
	margin: 0 auto;
	/* debug */
	
	/* background-color: blueviolet; */
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

nav {
	background-color: orange;
	height: 70px;
	margin-bottom: 20px;
}