/* Utils */

.container {
	max-width: 1000px;
	margin: 0 auto;
	/* debug */
	
	/* background-color: blueviolet; */
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

nav {
	background-color: orange;
	min-height: 70px;
	margin-bottom: 20px;
}

footer {
	background-color: black;
	min-height: 70px;
	margin-top: 20px;
	color: white;
}

a {
	text-decoration: none;
	color: white;
	font-size: 10px;
}